name: attendance

on:
  schedule:
    - cron: '0 12 * * 1-5'
    - cron: '30 17 * * 1-4'
    - cron: '30 18 * * 1-4'
    - cron: '0 23 * * 1-4'
    - cron: '0 18 * * 5'

jobs:
  post_to_api:
    runs-on: ubuntu-latest

    steps:
      - name: Send request to API
        run: |
          curl -L -f -X POST ${{ secrets.ENDPOINT }} \
          -H "Authorization: ${{ secrets.KEY }}" \
          -H "Content-Type: application/json" \
          -d '{ "uuid": "pc", "lat": 0, "lng": 0, "codigo_modalidad": "TR" }'
